* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
#base {
    width: 770px; margin: 20px auto;
    display: flex; flex-wrap: wrap; justify-content: center;
}
#base .hero {
    width: 100px; height: 100px; margin: 3px;
    background: rgb(50, 50, 50);
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
    transform: skewX(-10deg);
    transition-duration: 0.2s;
    position: relative;
}
#base .hero:hover {
    transform: scale(1.5, 1.5) skewX(-10deg);
    background: pink;
    z-index: 1;
}
#base .hero img {
    width: 110%;
    transform: skewX(10deg);
    position: absolute;
}